@keyframes cardMoveAnimation {
  0% { translate: 0 0; }
  50% { translate: 0 -10rem; }
  100% { translate: 0 0; }
}

@keyframes cardRotateScaleAnimation{
  0% { rotate: 0deg; scale: 1; }
  100% { rotate: 90deg; scale: 2; }
}

@keyframes zIndexAnimation{
  0% { z-index: 5; }
  100% {  z-index: 20; }
}

.card-move-animation{
  animation:
    cardMoveAnimation 4s ease-in-out 1s 1 forwards,
    zIndexAnimation 4s linear 1s 1 forwards;
}

.card-rotate-scale-animation{
  animation: cardRotateScaleAnimation 3s ease-in-out 2s 1 forwards;
}